# Ignore the .env file
.env

# Ignore docker-compose override files
docker-compose.override.yml
docker-compose.override.yaml
content/logs/

content/themes/casper
content/themes/source

# Ignore docker-compose
docker-compose.yml
